# ==========================================
# BOT DE TELEGRAM
# ==========================================
# Token real del bot. No subir el token real al repositorio.
TELEGRAM_TOKEN=CAMBIAR_TOKEN_TELEGRAM

# ==========================================
# PACS / ORTHANC
# ==========================================
ORTHANC_NAME=AngioPACS
ORTHANC_AETITLE=ORTHANC
PORT_ORTHANC_DICOM=4242
PORT_ORTHANC_WEB=8042

ORTHANC_URL=http://orthanc-pacs:8042
ORTHANC_PUBLIC_URL=https://neuropacs.rix.cl

ORTHANC_USER=orthanc
ORTHANC_PASSWORD=CAMBIAR_PASSWORD_ORTHANC

# ==========================================
# BACKEND FASTAPI
# ==========================================
PORT_BACKEND=8000

ANGIOPACS_USER=CAMBIAR_USUARIO_ADMIN
ANGIOPACS_PASSWORD=CAMBIAR_PASSWORD_ADMIN
ANGIOPACS_SESSION_SECRET=CAMBIAR_SECRETO_LARGO_ALEATORIO
ANGIOPACS_BOOTSTRAP_ADMIN=true

# ==========================================
# POSTGRESQL
# ==========================================
POSTGRES_USER=admin_angio
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_POSTGRES
POSTGRES_DB=angiopacs_db
