TELEGRAM_TOKEN=reemplazar_con_el_token_de_botfather
ORTHANC_NAME=Mi_Proyecto_AngioPACS
ORTHANC_AETITLE=ORTHANC
PORT_ORTHANC_DICOM=4242
PORT_ORTHANC_WEB=8042
PORT_BACKEND=8000
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña_segura
POSTGRES_DB=angiopacs_db